.section {
  --nav-height-desktop: 100px;
  --nav-height-mobile: 84px;
  --footer-height-desktop: 26px;
  --footer-height-mobile: 76px;
  min-height: calc(100vh - var(--nav-height-mobile) - var(--footer-height-mobile));
}

@media (min-width: var(--md)) {
  .section {
    min-height: calc(100vh - var(--nav-height-desktop) - var(--footer-height-desktop));
  }
}

.countdown {
  margin-top: var(--spacing-md);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-10000px);
  }
}

.heatBarContainer {
  overflow: hidden;
}
.heatBar {
  width: 2842px;
  height: 16px;
  background-image: linear-gradient(
    90deg,
    #ff0000 0%,
    #ffb80d 10%,
    #fff333 20%,
    #9aff18 30%,
    #24ffed 40%,
    #1f5eff 50%,
    #24ffed 60%,
    #9aff18 70%,
    #fff333 80%,
    #ffb80d 90%,
    #ff0000 100%
  );
  background-size: 200% auto;
  animation: move-gradient 10s linear infinite;
}

@keyframes move-gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
