.root {
  text-decoration: none;
  padding: 0;
  font-stretch: normal;
  letter-spacing: 0.5px;
}

/* family */

.vcr {
  font-family: var(--font-vcr);
  text-transform: uppercase;
}

.glyph {
  font-family: var(--font-glyph);
}

.offBit101 {
  font-family: var(--font-off-bit-101);
}

.offBitDot {
  font-family: var(--font-off-bit-dot);
}

.featureMonoRegular {
  font-family: var(--font-feature-mono-regular);
}
.featureMonoMedium {
  font-family: var(--font-feature-mono-medium);
}
.featureMonoBold {
  font-family: var(--font-feature-mono-bold);
}
/* alignment */
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

/* sizes */

.size-72 {
  font-size: 72px;
  line-height: 88px;
}

.size-52 {
  font-size: 52px;
  line-height: 69px;
}

.size-24 {
  font-size: 24px;
  line-height: 53px;
}

.size-21 {
  font-size: 21px;
  font-weight: 500;
  line-height: 32px;
}

.size-16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.size-14 {
  line-height: 16px;
  font-size: 14px;
}

.size-12 {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

/* COLORS */
.black {
  color: var(--black);
}
.white {
  color: var(--white);
}

.blue {
  color: var(--blue);
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}
.gray {
  color: var(--gray);
}
